<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="mb-auto"></div>
    <main class="px-3">
      <h1>Clínica Austral</h1>
      <p class="lead">
        Bienvenido a la Clínica Austral, tu centro de atención médica de
        confianza.
      </p>
      <p class="lead">
        <button routerLink="/login" routerLinkActive="active-route" class="btn btn-light mx-2">Iniciar sesión</button>
      </p>
    </main>
    <div class="mt-auto">
    </div>
  </div>
</body>
