<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
	<a class="navbar-brand" routerLink="/" routerLinkActive="active-route">
		<img class="entity-image" src="https://i.imgur.com/hMn4ev7.png" alt="Clínica Austral logo">
		Clínica Austral
	</a>
  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarCollapse">
    	<ul class="navbar-nav me-auto mb-2 mb-md-0">
      	<li class="nav-item">
        	<a class="nav-link active" routerLink="/" routerLinkActive="active-route" aria-current="page">Inicio</a>
      	</li>
      	<li class="nav-item">
      	  <a class="nav-link" href="#">Servicios</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link disabled">Horarios</a>
        </li>
      </ul>
	  <div class="d-flex">
		<button routerLink="login" routerLinkActive="active-route" class="btn btn-outline-success mx-2">Iniciar sesión</button>
		<button routerLink="register" routerLinkActive="active-route" class="btn btn-outline-primary">Registrarse</button>
	  </div>
    </div>
  </div>
</nav>