<body class="text-center">
<main class="form-signin">
    <form>
      <img class="mb-4 entity-image" src="https://i.imgur.com/hMn4ev7.png" alt="Clínica Austral logo">
      <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
      <p class="mt-5 mb-3 text-muted">©2024</p>
    </form>
    <div class="quick-access">
      <button class="btn btn-square">
        <div class="user-info">
          <span class="username">Usuario 1</span>
          <span class="user-type">Paciente</span>
        </div>
        <img src="https://via.placeholder.com/50" alt="Paciente 1">
      </button>
      <button class="btn btn-square">
        <div class="user-info">
          <span class="username">Usuario 2</span>
          <span class="user-type">Paciente</span>
        </div>
        <img src="https://via.placeholder.com/50" alt="Paciente 2">
      </button>
      <button class="btn btn-square">
        <div class="user-info">
          <span class="username">Usuario 3</span>
          <span class="user-type">Paciente</span>
        </div>
        <img src="https://via.placeholder.com/50" alt="Paciente 3">
      </button>
      <button class="btn btn-square">
        <div class="user-info">
          <span class="username">Especialista 1</span>
          <span class="user-type">Especialista</span>
        </div>
        <img src="https://via.placeholder.com/50" alt="Especialista 1">
      </button>
      <button class="btn btn-square">
        <div class="user-info">
          <span class="username">Especialista 2</span>
          <span class="user-type">Especialista</span>
        </div>
        <img src="https://via.placeholder.com/50" alt="Especialista 2">
      </button>
      <button class="btn btn-square">
        <div class="user-info">
          <span class="username">Admin</span>
          <span class="user-type">Admin</span>
        </div>
        <img src="https://via.placeholder.com/50" alt="Admin">
      </button>
    </div>
  </main>
</body>